# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3

# Virtualenv
venv/
env/
ENV/
.venv/
.virtualenv/

# IDEs
.vscode/
.idea/
*.iml

# Pytest
.pytest_cache/

# Coverage reports
.coverage
*.cover
*.hypothesis/



# Static files
static/
media/

# Environment variables
.env
.env.*
*.env

# Docker
docker-compose.override.yml
docker-compose.yml



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
