# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3

# Virtualenv
venv/
env/
ENV/
.venv/
.virtualenv/

# IDEs
.vscode/
.idea/
*.iml

# Pytest
.pytest_cache/

# Coverage reports
.coverage
*.cover
*.hypothesis/

# Django migrations
*/migrations/*

# Static files
static/
media/

# Environment variables
.env
.env.*
*.env

# Docker
docker-compose.override.yml
docker-compose.yml



v