.main-layout-container{
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: auto 1fr;
    
}
.sidebar-container{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.content-container{
    grid-area: content;

}


/* mobile */
@media screen and (max-width:767px) {
    .main-layout-container{
        display: block;
    }
}